# Arquivo secreto de ambiente
.env

# Saída do Maven (código compilado)
/target/

# Lixo do IntelliJ
.idea/
*.iml

# Lixo do VS Code
.vscode/

# Arquivos de Log
*.log
logs/

# Arquivo temporário de limpeza
replacements.txt

# Arquivos de sistema operacional
.DS_Store
Thumbs.db